#timeline-summary {
    padding-top: 40px;
    white-space: nowrap;
    text-align: left;
}

#timeline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-image: url('../assets/PaperBack.jpg');
    background-repeat: repeat;
    width: 3200px;
    min-height: calc(100vh - 40px);
}

#timeline .year {
    text-align: center;
    width: 1000px;
    display: inline-block;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding-bottom: 15px;
    margin: 15px;
    white-space: normal;
}

#timeline .year>h1 {
    margin: 0;
    text-align: center;
    padding: 20px;
    background-color: #346361;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

#timeline .year:not(:first-child) {
    border-right: 1px solid black;
}

#timeline .season {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
}

#timeline .season h2 {
    margin-left: 10px;
}

#timeline .section {
    min-width: 10vw;
}

#timeline .section>div {
    text-align: left;
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    background-color: #e3dfd4aa;
}

#timeline .section h1 {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    line-height: 24px;
    margin: 0;
    color: #FFFFFF;
}

.section div .title {
    display: flex;
    align-items: center;
    border-bottom: 2ps solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.section div .title .clan {
    background-size: 35px;
    background-position: center;
}

.section div .title.crab {
    background-color: #A19AA2;
}

.section div .title.crab .clan {
    background-image: url("../assets/Crab_Mon.png");
}

.section div .title.crane {
    background-color: #A8B9CB;
}

.section div .title.crane .clan {
    background-image: url("../assets/Crane_Mon.png");
}

.section div .title.dragon {
    background-color: #8CA295;
}

.section div .title.dragon .clan {
    background-image: url("../assets/Dragon_Mon.png");
}

.section div .title.lion {
    background-color: #CBB07C;
}

.section div .title.lion .clan {
    background-image: url("../assets/Lion_Mon.png");
}

.section div .title.phoenix {
    background-color: #DB9D67;
}

.section div .title.phoenix .clan {
    background-image: url("../assets/Phoenix_Mon.png");
}

.section div .title.scorpion {
    background-color: #BE9789;
}

.section div .title.scorpion .clan {
    background-image: url("../assets/Scorpion_Mon.png");
}

.section div .title.unicorn {
    background-color: #AEA2B8;
}

.section div .title.unicorn .clan {
    background-image: url("../assets/Unicorn_Mon.png");
}

.section div.shadowlands {
    background-color: black;
}

.section div .title h1 {
    flex-grow: 1;
    border: none !important;
}

.section div .title>div {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45px;
}

.section.bushi div .title .role {
    background-image: url('../assets/Bushi_Icon.png');
}
.section.courtier div .title .role {
    background-image: url('../assets/Courtier_Icon.png');
}
.section.shugenja div .title .role {
    background-image: url('../assets/Shugenja_Icon.png');
}
.section.shinobi div .title .role {
    background-size: 35px !important;
    background-image: url('../assets/Shinobi_Icon.png');
}

#timeline .section p {
    margin: 0;
    padding: 10px;
}

#filters {
    display: flex;

}

#filters .group {
    text-align: center;
    margin: 25px 15px 5px;
}

#filters .filter {
    display: inline-block;
    margin: 5px;
    border-radius: 50%;
    border: 3px solid black;
    background-color: white;
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    transition: transform 0.2s;
}

#filters .filter:not(.selected) {
    opacity: 0.5;
}

#filters .filter:hover {
    transform: translateY(-5px);
}

#filters .filter.bushi {
    background-image:url("../assets/Bushi_Icon.png");
    background-size: 35px;
}

#filters .filter.courtier {
    background-image:url("../assets/Courtier_Icon.png");
    background-size: 35px;
}

#filters .filter.shugenja {
    background-image:url("../assets/Shugenja_Icon.png");
    background-size: 35px;
}

#filters .filter.shinobi {
    background-image:url("../assets/Shinobi_Icon.png");
}

#filters .filter.crab {
    background-image:url("../assets/Crab_Mon.png");
    background-color: #A19AA2;
}

#filters .filter.crane {
    background-image:url("../assets/Crane_Mon.png");
    background-color: #A8B9CB;
}

#filters .filter.dragon {
    background-image:url("../assets/Dragon_Mon.png");
    background-color: #8CA295;
}

#filters .filter.lion {
    background-image:url("../assets/Lion_Mon.png");
    background-color: #CBB07C;
}

#filters .filter.phoenix {
    background-image:url("../assets/Phoenix_Mon.png");
    background-color: #DB9D67;
}

#filters .filter.scorpion {
    background-image:url("../assets/Scorpion_Mon.png");
    background-color: #BE9789;
}

#filters .filter.unicorn {
    background-image:url("../assets/Unicorn_Mon.png");
    background-color: #AEA2B8;
}