@font-face { font-family: BrushStrokes; src: url('./assets/Brush-Strokes.ttf'); } 

.App {
  position: relative;
  min-height: 100vh;
}

@media print {
  .App {
    padding-top: 0;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media print {
  .toolbar {
    visibility: hidden;
  }
}

.toolbar {
  z-index: 1;
  font-family: BrushStrokes;
  font-weight: 700;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  border-bottom: 2px solid black;
  background-color: #346361;
  animation: drop 0.5s;
  color: #fed700;
  text-shadow: 2px 2px black;
  align-items: center;
}

@keyframes drop {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0);
  }
}

.toolbar .title {
  text-align: center;
  flex-grow: 1;
  font-size: 20px;
}

.toolbar .back:hover {
  transform: translateX(5px);
}

.toolbar a {
  color: #fed700;
  text-decoration: none;
}

.toolbar .back {
  flex-basis: 100px;
  transition: transform 0.3s;
}

.toolbar .buttons {
  flex-basis: 100px;
  text-align: right;
}

.toolbar .buttons a {
  display: inline-block;
  margin: 0 5px;
  transition: transform 0.3s;
  transform: scale(1);
}

.toolbar .buttons a:hover {
  transform: scale(1.25);
}