.loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.loading>img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    100% {
        transform: translate(-50%,-50%) rotate(-360deg);
    }
}