.card {
    margin: 0;
    display: inline-block;
    position: relative;
    width: 5.2in;
    height: 3.75in;
    border: 1px solid black;
    background: white;
    overflow: hidden;
}

.card p {
    text-align: left;
}

.card>.content {
    display: block;
    position: absolute;
    left: 0.25in;
    right: 0.25in;
    bottom: 0.25in;
    top: 0.25in;
}

.card h1 {
    text-align: center;
    font-family: BrushStrokes, sans-serif;
    font-weight: 500;
    margin: 0 0 5px 0;
}

.card .challenges {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.challenges>div {
    flex-grow: 1;
    text-align: left;
    line-height: 20px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    background: #ddd;
}

.challenges>div>h2 {
    font-family: arial, sans-serif;
    font-size: 18px;
    margin: 0 0 5px 0;
    text-align: center;
}

.challenge {
    display: flex;
    justify-content: center;
    align-items: center;
}

.consequence {
    margin-left: 5px;
}

.boxes {
    flex-shrink:0;
}

.boxes>span {
    display: inline-block;
    margin: 0 2px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 2px;
    background: white;
}